/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');
html,
body {
  font-family: "roboto";
  margin: 0;
  padding: 0;
}

nav {
  /*position: fixed;*/
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.spotifyLogo {
   width : 200px;
}

nav ul{
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 45px;
  font-size: 30px;
}

header {
  background:url("../images/landing.jpg") center no-repeat;
  background-size: cover;
  height: 90vh;
  position: relative;
}

.everyone {
  color:#FFF;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  text-align: center;
}

.everyone h1{
  font-size: 105px;
}

.everyone p {
  font-size: 40px;
}

.whatson h2 {
  text-decoration: none;
}

.whatson .title {
    height: 60px;
    width: max-content;
    font-size: 30px;
    margin: auto;
    border-bottom: 4px solid #00B172;
}

.whatson .block h3 {
  font-size: 30px;
  color: #00B172;
}

.whatson .block img{
  width : 150px;
}

.whatson .block p,
.kanye .block p {
  font-size: 25px;
}

.whatson .block {
  display: flex;
  text-align: center;
  justify-content: space-around ;
  margin: 70px 40px;
}

.whatson .block div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 400px;
    justify-content: center;
}

.kanye {
  background-color: #00B172;
  margin: 100px;
  position: relative;
  height: 90vh;
  color:#FFF
}

.kanye .whitelogo {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.kanye .spotifyapp {
  width: 350px;
  position: absolute;
  top: 50%;
  right: -5%;
  transform: translate(-50%, -50%);
}

.kanye .yeezy .title {
  height: 60px;
  width: max-content;
  font-size: 30px;
  border-bottom: 4px solid #FFF;
  color: #FFF;
  
}

.kanye .yeezy .block h3 {
  font-size: 30px;
  margin-top: 50px;
}

.kanye .yeezy .block div {
  width: 350px;
  margin-top: 70px;
}

.kanye .yeezy {
  position: absolute;
  position: absolute;
  top: 50%;
  right: 45%;
  transform: translate(-50%, -50%);
}

